@use "../abstracts";

body {
    font-family: "Epilogue", sans-serif;
}

.logo {
    font-size: 30px;
    color: abstracts.$black--clr;
    font-weight: 700;

    @media (min-width: 1440px) {
        font-size: 34px;
    }
}

.title {
    font-size: 34px;
    letter-spacing: 0.5px;

    @media (min-width: 1400px) {
        font-size: 80px;
    }
}

.description {
    margin-top: 20px;
    color: abstracts.$gray--clr;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1px;

    @media (min-width: 1400px) {
        margin-top: 0;
        letter-spacing: 0.2px;
        max-width: 450px;
    }
}
